<div ng-controller="TicketDetailController as vm" class="ctrl-template">
    <div >
        <h2>
            <span class="ms-font-su">{{vm.ticket.Title}}</span>

        </h2>
        <hr class="thin" style="margin-top: 12px;">
        <div class="row"  style="border: 1px solid #DEDDDD;">

            <div class="cell auto-size"  style="position: relative;padding-bottom:35px;">
                <div class="row padding10">
                    <!-- Created User Icon -->
                    <div class="col colspan2">  
                        <span ng-class="{'mif-user photo-placeholder' : !vm.ticket.Author.PictureUrl}">
                            <img ng-if="vm.ticket.Author.PictureUrl" ng-src="{{vm.ticket.Author.PictureUrl}}" style="width:50px;" />
                        </span>
                        <span class="tag success" style="width:50px; display:block;">
                            {{vm.ticket.RequestStatus}}
                        </span>
                      

                    </div>

                    <!-- Request Body  and created by name-->
                    <div class="col colspan10  box-body" style="padding:0 10px 20px 20px; line-height:1.5em">
                        <div class="popover padding2 marker-on-left bg-grayLighter" style="padding: 7px 15px;">
                            <div class="fg-black">
                                <div>
                                    <h5 class="ng-binding" style="display: inline-block;">
                                        {{vm.ticket.Author.Title}}
                                    </h5>
                                    <h6 class="mif-calendar top text-secondary place-right ng-binding" style="display: inline-block;">
                                        {{vm.ticket.Created | date:"MM/dd/yyyy 'at' h:mma"}}
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <hr class="thin bg-white">
                        <div id="ticket-body" class="ms-fontWeight-regular ms-font-m-plus" ng-bind-html="vm.ticket.Body" contenteditable="{{vm.ticketStatus.isEditing && vm.responses.length == 0}}">
                        </div>
                    </div>
                </div>
                <!-- Request options -->
                <div class="row">
                    <div class="cell auto-size padding10">
                        <label class="ms-Label">
                            <span class="ms-fontWeight-semibold">Assigned To: </span>{{vm.ticket.AssignedTo.Title}}
                            <span class="ms-fontWeight-light">{{' - ' + vm.ticket.AssignedTo.EMail}}</span>
                        </label>
                        <!--People Picker -->
                        <div class="ms-PeoplePicker single" ng-if="vm.ticketStatus.isEditing">
                            <label class="ms-Label">Choose to assign: </label>
                            <div class="ms-PeoplePicker-searchBox">
                                <input class="ms-PeoplePicker-searchField" ng-model="vm.ticket.searchBox" ng-change="vm.search()" type="text">
                                <input type="text" class="selectedKey ng-hide" ng-model="vm.ticket.key" />
                            </div>
                            <div class="ms-PeoplePicker-results">
                                <div class="ms-PeoplePicker-resultGroups">
                                    <ul class="ms-PeoplePicker-resultList"
                                        ng-repeat="person in vm.peoplePicker">
                                        <li class="ms-PeoplePicker-result">
                                            <div class="ms-Persona ms-Persona--square">
                                                <div class="ms-Persona-imageArea">
                                                    <i class="ms-Persona-placeholder ms-Icon ms-Icon--person"></i>
                                                    <img class="ms-Persona-image" ng-src="{{person.image}}">
                                                </div>
                                                <div class="ms-Persona-presence"></div>
                                                <div class="ms-Persona-details">
                                                    <input type="hidden" class="ms-Persona-dataKey" value="{{person.Key}}" />
                                                    <div class="ms-Persona-primaryText">{{person.DisplayText}}</div>
                                                    <div class="ms-Persona-secondaryText">{{person.EntityData.Email}}</div>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>

                                </div>
                            </div>
                            <script>    $(".ms-PeoplePicker").PeoplePicker();</script>
                        </div>
                    </div>
                </div>
                <div class="box-commands" ng-if="vm.ticketStatus.isEditable()" ng-class="{'box-commands--active': vm.ticketStatus.isEditing}">
                    <button class="ms-Button ms-Button--command" ng-show="vm.ticketStatus.isEditing"  ng-click="vm.ticketStatus.isEditing = false" >
                        <span class="ms-Button-icon"><i class="ms-Icon ms-font-xl ms-fontColor-error ms-Icon--xCircle"></i></span>
                    </button>
                    <button class="ms-Button ms-Button--command" ng-click="vm.saveOrEdit()">
                        <span class="ms-Button-icon">
                            <i class="ms-Icon ms-font-xl ms-fontColor-blueDark ms-Icon--xCircle"
                                ng-class="{'ms-Icon--save': vm.ticketStatus.isEditing, 'ms-Icon--editBox': !vm.ticketStatus.isEditing }">
                            </i>
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <!-- R E S P O N S E S -->
        <div ng-repeat="response in vm.responses">
            <div class="row box">
                <div class="col colspan2">
                    <img ng-src="{{response.Author.PictureUrl}}" style="width:50px; height:50px;border-radius: 25px;" />
                </div>
                <div class="col colspan10 box-body">
                    <div class="popover padding2 marker-on-left bg-grayLighter" style="padding: 7px 15px;">
                        <div class="fg-black">
                            <div>
                                <h5 class="ng-binding" style="display: inline-block;">
                                    RE: {{response.Author.Title}}
                                </h5>
                                <h6 class="mif-calendar top text-secondary place-right ng-binding" style="display: inline-block;">
                                    {{response.Created | date:"MM/dd/yyyy 'at' h:mma"}}
                                </h6>
                            </div>
                        </div>
                    </div><hr class="thin bg-white">
                    <div ng-bind-html="response.Body" />
                </div>

                <div class="box-commands"  ng-show="vm.ticketStatus.currentUser == response.Author.Name" ng-if="$last && !response.DeleteTimout ">
                    <button class="ms-Button ms-Button--command" ng-if="false">
                        <span class="ms-Button-icon"><i class="ms-Icon ms-font-m ms-fontColor-blueDark ms-Icon--pencil"></i></span>
                    </button>
                    <button class="ms-Button ms-Button--command"  ng-click="vm.deleteResponse(response)"><span class="ms-Button-icon"><i class="ms-Icon ms-font-m ms-fontColor-error ms-Icon--xCircle"></i></span></button>
                </div>
            </div>
        </div>
        <!-- //R E S P O N S E S-->
        <!-- R E P L Y -->
        <div class="box">
            <form>
                <div class="ms-TextField ms-TextField--multiline">
                    <textarea class="ms-TextField-field" min="10" required
                              ng-model="vm.response.Body" id="requestBody"
                              name="requestBody" style="min-height:110px;"></textarea>
                </div>
                <button type="submit" ng-click="vm.addResponse()" class="button" ng-class="{'primary': vm.response.Body.length > 2, 'disabled': vm.response.Body==null || vm.response.Body.length < 3}"><span class="mif-plus"> </span> Update Ticket</button>
                <span class="place-right">
                    <div class="ms-Dropdown" tabindex="0" style="min-width:200px;">
                        <label class="ms-Label">Change Request Status</label>
                        <i class="ms-Dropdown-caretDown ms-Icon ms-Icon--caretDown"></i>
                        <select class="ms-Dropdown-select" ng-model="vm.ticket.newRequestStatus" id="requestType" name="requestType">
                            <option value="">Select request status…</option>
                            <option value="Open">Open</option>
                            <option value="Under Review">Under Review</option>
                            <option value="In Progress">In Progress</option>
                            <option value="Done">Done</option>
                            <option value="Done">Closed</option>
                        </select>
                    </div>
                </span>
            </form>

        </div>

    </div>
</div>
<script>
    $(".ms-Dropdown").Dropdown();
    $(".ms-TextField").TextField();
</script>