<div ng-controller="TicketController as vm">

    <h1 class="text-light">Support Tickets <span class="mif-drive-eta place-right"></span></h1>
    <hr class="thin bg-grayLighter">
    <button class="button primary" onclick="pushMessage('info')"><span class="mif-plus"></span> Create...</button>
    <button class="button success" onclick="pushMessage('success')"><span class="mif-play"></span> Assign </button>
    <hr class="thin bg-grayLighter">
    <div ng-repeat="request in vm.tickets">
        <div class="ms-ListItem is-unread is-selectable">
            <a href="#/ticket/{{request.ID}}">
                <span class="ms-ListItem-primaryText" >{{request.Title}}</span>
                <span class="ms-ListItem-secondaryText">{{request.RequestType}}</span>
                <span class="ms-ListItem-tertiaryText">{{request.RequestDescription}}</span> 
            </a>
            <span class="ms-ListItem-metaText">{{request.Created | date:"MM/dd/yyyy 'at' h:mma"}}</span>
            <div class="ms-ListItem-selectionTarget js-toggleSelection"><input type="checkbox" style="width: 18px;height: 18px;margin-top: -4px;" /></div>
            <div class="ms-ListItem-actions">
                <div class="ms-ListItem-action"></div>
                <div class="ms-ListItem-action"></div>
                <div class="ms-ListItem-action"></div>
                <div class="ms-ListItem-action"></div>
            </div>
        </div><!-- Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE in the project root for license information. -->

    </div>

</div>